*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}
body{

  background-image:url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438");

  background-size:cover;

  background-position:center;

  background-attachment:fixed;

  background-repeat:no-repeat;
}

.container{
  max-width:900px;
  margin:30px auto;
  padding: 15px;
  background:rgba(255,255,255,0.9);
  border-radius:15px;
  backdrop-filter:blur(5px);

}
/*Header*/
header{
  background:#1e293b;
  color:white;
  padding:20px 30px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  box-shadow:0 10px 15px -3px rgba(0,0,0,0.05),
  0 4px 6px -2px rgba(0,0,0,0.05);
  position:sticky;

  top:0;

 /*z-index:1000;*/
}
.logo{
  font-size:22px;
  font-weight:bold;
  letter-spacing:1px;
}
section{
  background: transparent;
  box-shadow:none;
  margin-bottom:40px;
}
header nav a{
  color:#cbd5e1;
  text-decoration:none;
  margin-left:20px;
  font-weight:500;
}
header nav a:hover{
  color:#38bdf8;
}
.a{
  background:transparent;
  padding:30px 0;
  border-radius: 12px;
  margin-bottom:30px;
  box-shadow: none;
}
.h3{
  font-size:20px;
  color:#0f172a;
  margin-bottom:15px;
  border-left:5px solid #2563eb;
  padding-left:8px;
}
.p{
  color:#64748b;
  margin-bottom:20px;
  font-size:14px;
}


.b{
  display:flex;
  gap:20px;
}
.c{
  flex:1;
  color:white;
  padding:20px;
  border-radius: 10px;
  text-align:center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
.c:hover{

  transform:translateY(-5px);

  transition:0.3s;

  cursor:pointer;
}
.blue-gradient{
  background:linear-gradient(135deg,#3b82f6,#1d4ed7);
}
.green-gradient{
  background: linear-gradient(135deg,#10b981,#047857);

}
.purple-gradient{
  background:linear-gradient(135deg,#8b5cf6,#6d28d9);
}
.c{
  font-size:14px;
  opacity:0.9;
  margin-bottom:5px;
}
.c p{
  font-size:32px;
  font-weight:bold;
}
.data{
  width:100%;
  border-collapse:collapse;
  margin-top:10px;
  overflow:hidden;
  border-radius:8px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);

  background:white;
}
.data th,.data td{
  padding:14px;
  text-align:left;
  border-bottom:1px solid #e2e8f0;
}
.data th{
  background-color: #f8fafc;
  color:#475569;
  font-weight:600;
}
.data tr:hover{
  background-color: #f8fafc;
}

/*Input and form Control*/ 
.forma{
  margin-bottom:18px;
}
label{
  display:block;
  margin-bottom:6px;
  font-weight:600;
  font-size:14px;

}
input,select{
  width:100%;
  padding:11px;
  border:1px solid black;
  border-radius:6px;
  font-size:14px;
  outline:none;
  background:#fff;
  border:1px solid #cbd5e1;

}
input:hover,
select:hover{

  border-color:#2563eb;
}
input:focus,select:focus{
  border-color:#3b82f6;
  box-shadow:0 0 0 3px rgba(59,130,246,0.1);
}
/*Buttons UI*/
.btn{
  background:linear-gradient(135deg,#059669,#047857);
  color:white;
  border:none;
  padding:14px;
  width:100%;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;
  font-weight:600;
}
.btn:hover{
  transform:scale(1.02);

  transition:0.3s;

  background:linear-gradient(135deg,#047857,#065f46);

}
/*.btn-submit{
  background:linear-gradient(135deg,#10b981,#059669);
  color:white;
  border:none;
  padding:14px;
  width:100%;
  border-radius:6px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;box-shadow: 0 4px 6px rgba(16,185,129,0.2);
}*/

  footer{

  background:#1e293b;

  color:white;

  text-align:center;

  padding:20px;

  margin-top:40px;

  font-size:14px;

  width:100%;

  box-shadow:0 -3px 10px rgba(0,0,0,0.2);
}

